MediaServerAdapter.Endpoints = tcp -p 10000
MediaServer.Content = media
MediaServer.Playlists = playlists
MediaServer.UsersFile = users.json

# Proxy corregido (sin Spotifice) y propiedades obligatorias
IceStorm.TopicManager.Proxy = IceStorm/TopicManager:tcp -p 9999
Discovery.TopicName = DiscoveryTopic
Finder.TopicName = FinderTopic
Discovery.AnnounceIntervalSecs = 15